<h1>Login</h1>

<form id="login-form">
  <input type="text" name="username" placeholder="Username" id="email-login"/>
  <input type="password" name="password" placeholder="Password" id=" password-login" />
  <button type="submit">Login</button>
</form>

<h1>Sign Up</h1>

<form id="signup-form">
  <input type="text" name="email" placeholder="email" id="email-signup"/>
  <input type="text" name="username" placeholder="Username" id="name-signup"/>
  <input type="password" name="password" placeholder="Password" id="password-signup" />
  <button type="submit">Sign Up</button>
</form>

<script src="/js/login.js"></script>